<div class="card my-3">
    <div class="card-body">
        <h5 class="card-title"><%= @event.title %></h5>
        <p class="card-text">Start date : <%= @event.start_date %></p>
        <p class="card-text">Duration : <%= @event.duration %>min</p>
        <p class="card-text">Description : <%= @event.description %></p>
        <p class="card-text">Price : <%= @event.price %>€</p>
        <p class="card-text">Location : <%= @event.location %></p>
        <p class="card-text">Créateur : <%= @event.user.email %></p>
    </div>
</div>